.box1{
    background-color: #e9e6e6;
    .subt{
        background-color: #3f3b3b;
    }
}

.box2{
    .subt{
        background-color: #e9e6e6;
    }
    .briefing, .team{
        background-color: #3f3b3b;
    }
}

.box3{
    background-color: #e9e6e6;
    .subt{
        background-color: #3f3b3b;
    }
}

